// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#Nickname {
	padding-bottom: 10px;
}

.row {
	margin-top: 20px;

}

#textarea {
	height: 100px;
}

.nav-wrapper {
	margin: 0 20px;
}